<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="PervasiveDigital.Hardware.ESP8266" version="3.0.9" targetFramework="netmf44" />
  <package id="PervasiveDigital.Net" version="3.0.9" targetFramework="netmf44" />
  <package id="PervasiveDigital.Utility" version="3.0.9" targetFramework="netmf44" />
</packages>